.discord {
    padding: 5rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .discord-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .discord-content h1 {
    margin: 0 0 20px 0;
    max-width: 800px;
    font-weight: 800;
    line-height: 1.2;
  }
  
  .discord-content h1 span {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .discord-content p {
    margin-bottom: 45px;
  }